{% extends 'back.html.twig' %}

{% block title %}Offres acceptées{% endblock %}
{% block content %}
 
  <h1>Liste des offres Refusées</h1>
  {% if offres is empty %}
    <p>Aucune offre refusées pour le moment.</p>
  {% else %}
    <ul>
      {% for offre in offres %}
        <li>
          <h2>{{ offre.titre }}</h2>
          <p>{{ offre.description }}</p>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <a href="{{ path('showOffresAdmin') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
